.first-page {
    text-align: center;
    padding: 16px 20px;
}

.first-page__title {
    font-size: 26px;
    color: #ffffff;
    margin: 20px;
    text-align: center;
}

.first-page__button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-page__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.17);
    color: #ffffff;
    padding: 20px 24px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 500;
}

.first-page__description {
    margin-top: 20px;
    font-size: 18px;
    color: #ffffff;
}